body,
html {
  width: 100%;
  height: 100%;
}

.PSSSFFTitle {
  font-weight: bold;
  font-size: 3vw;
}

.is-1 {
  text-align: center;
}

main.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
