body,
html {
  width: 100%;
  height: 100%;
}

.PSSSFFTitle {
  font-weight: bold;
  font-size: 3vw;
  color: white!important;
}

#about {
  .is-1 {
    text-align: center;
  }
}

#howTo {
  ul {
    list-style-type: circle;
  }
}

main.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

#video {
  width: 100%;
  padding: 0 0 5%;
}

.mainHeading {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 10px;
}
@media only screen and (max-width: 500px) {
  .mainHeading {
    font-size: 2rem;
  }

  .is-1 {
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 320px) {
  .mainHeading {
    font-size: 1.5rem;
  }

  .is-1 {
    font-size: 0.2rem;
  }
}

#home {
  background-color: #363636!important;
  color: white!important;

  .hero-head {
    background-color: #363636!important;
    color: white;
  }
}